/* 标签样式初始化 */
         body{margin:0;padding:0;background:#fff;font-size:14px;font-family:Arial,Helvetica,'STHeiti','Microsoft YaHei','sans-serif'}
         form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
         img{border:0;}
         ul,li{list-style-type:none;}
         a{color:#00007F;text-decoration:none;}
         a:hover{text-decoration:none;}

         /* 自定义样式 */
         .nav{float:right;color:#999999;margin-left: 40px;font-size: 14px;transition:all 0.15s linear 0s;}
         .nav:hover{color:#6bc5d2;}
         .logo{font-size:20px;color:#f14e42;display:inline;}
         .websitelink{font-size:12px;color:#999999;vertical-align:top;}
         .top{padding-top: 20px;padding-bottom: 35px;}
         .banner{  background: #6bc5d2;padding-top: 100px;padding-bottom: 120px;}
         .typographic{  font-size: 400px;color: #FFFFFF;letter-spacing: -20px;float: left;margin-top: -182px;padding-right: 40px;margin-left: -120px;}
         .slogan{font-size: 36px;color: #FFFFFF;}
         .introduction{  color: #177c8a;margin-top: 20px;}
         .call{font-size: 18px;color: #FFFFFF;padding: 10px 30px;border: 1px solid #FFFFFF;border-radius: 5px;margin-top: 30px;display: inline-block;}
         .call:hover{background:rgba(255,255,255,0.2)}
         .container{margin-right: auto;margin-left: auto;}
         .poemtitle{color:#f14e42;font-size: 24px;margin-bottom: 30px;}
         .poemcontent{color:#6f6f70;line-height: 25px;display: inline-block;text-align: left;}
         .visiontitle{color:#f14e42;font-size: 24px;margin-bottom: 30px;text-align: left;  margin-top: 30px;}
         .visioncontent{color:#6f6f70;line-height: 25px;text-align: left;}
         .contentblock{padding-top: 60px;padding-bottom: 60px;border-bottom: 1px solid #e5e5e5;text-align: center;min-height: 300px}
         .photo{  width: 200px;float: left;margin-left: 60px;padding-right: 70px;margin-top: -52px;}
         .contactblock{  padding-top: 60px;padding-bottom: 60px;text-align: center;}
         .contacttitle{font-size: 24px;color: #6f6f70;}
         .email{font-size: 18px;background: #6bc5d2;padding: 10px 40px;color: #FFFFFF;border-radius: 5px;margin-top: 30px;display: inline-block;transition:all 0.15s linear 0s;}
         .email:hover{background: #73d4e2;}
         .footer{padding: 35px 0;background: #f3f3f3;text-align: center;border-top: 1px solid #e3e3e3;}
         .footercontent{color: #bfbfbf;}


           /* 响应式 */
          .ocean-col{min-height: 1px;max-width: 960px;margin-left: auto;margin-right: auto;/*float: left;*/}
                   .ocean-col-1{width: 8.333%;float: left;}
         .ocean-col-2{width: 16.666%;float: left;}
         .ocean-col-3{width: 25%;float: left;}
         .ocean-col-4{width: 33.333%;float: left;}
         .ocean-col-5{width: 41.667%;float: left;}
         .ocean-col-6{width: 50%;float: left;}
         .ocean-col-7{width: 58.333%;float: left;}
         .ocean-col-8{width: 66.666%;float: left;}
         .ocean-col-9{width: 75%;float: left;}
         .ocean-col-10{width: 83.333%;float: left;}
         .ocean-col-11{width: 91.666%;float: left;}
         .ocean-col-12{width: 100%;float: left;}

          @media (max-width: 767px) {
          .ocean-col{text-align: center;}
          .ocean-col-1{width: 100%;}
          .ocean-col-2{width: 100%;}
          .ocean-col-3{width: 100%;}
          .ocean-col-4{width: 100%;}
          .ocean-col-5{width: 100%;}
          .ocean-col-6{width: 100%;}
          .ocean-col-7{width: 100%;}
          .ocean-col-8{width: 100%;}
          .ocean-col-9{width: 100%;}
          .ocean-col-10{width: 100%;}
          .ocean-col-11{width: 100%;}
          .ocean-col-12{width: 100%;}
          .typographic{display: none;}
          .photo{display: none;}
          .visiontitle{text-align:center; }
          .visioncontent{text-align:center; }
          .websitelink{display: none;}
          .top{padding-bottom: 80px;}
          .nav{float:none;margin-right: 20px;margin-left: 20px;padding-top: 20px;}
          .nav-column{padding-top: 20px}
          }