/*index.css*/

body{
  background: #eee;
  margin: 20px;
  font-family: tahoma;
}

#todo-wrapper{
  width: 80%;
  margin: 0 auto;
  background: #fff;
  border-top: 3px solid #7f4cc1;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  color: #333;
}

#todo-wrapper p{
  color: #777;
  font-style: italic;
}

#todo-list ul{
  list-style-type: none;
  padding: 0;
}


/*todoItem.css*/

.todo-item{
  padding: 16px 5px;
  border-bottom: 1px dashed #bbb;
  display: flex;
}

.todo-item:hover{
  background: #eee;
}

.item-name{
  flex-basis: 0;
  flex-grow: 9;
}

.item-remove{
  flex-basis: 0;
  flex-grow: 1;
  text-align: right;
  color: #7f4cc1;
  font-weight: bold;
  cursor: pointer;
}

/* addItem.css*/
#add-todo{
  display: flex;
}

#add-todo input[type="text"]{
    flex-basis: 0;
    flex-grow: 7;
    padding: 10px;
    border: 2px solid #7f4cc1;
    border-radius: 4px 0 0 4px;
    color: #777;
}

#add-todo input[type="submit"]{
    flex-basis: 0;
    flex-grow: 3;
    padding: 10px;
    background: #7f4cc1;
    border-radius: 0 4px 4px 0;
    border: 2px solid #7f4cc1;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}


